<% add_decidim_meta_tags({
                           description: translated_attribute(component_settings.description).html_safe,
                           title: translated_attribute(component_settings.title),
                           url: site_url
                         }) %>
<% append_stylesheet_pack_tag "decidim_polis", media: "all" %>
<% append_javascript_pack_tag "decidim_polis" %>

<% content_for :aside do %>
  <%= render partial: "polis_aside" %>
<% end %>

<%= render layout: "layouts/decidim/shared/layout_item" do %>
  <section class="layout-main__section layout-main__heading">
    <% if allowed_to? :manage, :polis %>
      <!-- pol.is admin buttons section -->
      <div class="container links-container row" style="margin-left: 0px; margin-right: 0px;">
        <div class="columns mediumlarge-2 flex mgn">
          <span class="label">Admin Pol.is</span>
        </div>
        <div class="columns mediumlarge-5 flex">
          <p class="h-link">
            <%= t("decidim.components.polis.views.moder") %>
          <ul class="appendModerateLink"></ul>
          </p>
        </div>
        <div class="columns mediumlarge-5 flex">
          <p class="h-link">
            <%= t("data", scope: 'decidim.polis.polis.show') %>
          <ul class="appendAdminLink "></ul>
          </p>
        </div>
      </div>
    <% end %>
  </section>
  <!-- end -->

  <!-- title and description section -->
  <section class="layout-main__section">
    <h1 class="h2 title-decorator"><%= translated_attribute(component_settings.title) %></h1>
  </section>
  <section class="layout-main__section">
    <p><%= translated_attribute(component_settings.description).html_safe %></p>
  </section>

  <!-- end -->
  <!-- pol.is embed section -->
  <section class="layout-main__section">
    <% if user_signed_in? %>
    <div
      class='polis column'
      data-conversation_id='<%= site_id %>'
      data-page_id="<%= page_id %>"
      data-site_id="<%= site_id %>"
      data-ucw="<%= current_settings.write_enabled? %>"
      data-ucv="<%= current_settings.vote_enabled? %>"
      data-show_vis="<%= component_settings.visualization_enabled? %>"
      data-border="none"
      data-topic="<%= translated_attribute component_settings.title %>"
      data-ucst="false"
      data-auth_opt_allow_3rdparty="<%= component_settings.social_sign_in_enabled? %>"
      data-auth_opt_fb="<%= component_settings.social_sign_in_enabled? %>"
      data-auth_opt_tw="<%= component_settings.social_sign_in_enabled? %>"
      data-ucsh="false"
      data-ucsf="1"
      data-ui_lang="<%= locale %>"
      data-auth_needed_to_write="<%= component_settings.social_sign_in_enabled? %>"
      data-xid="<%= current_user.id %>"
      data-x_name="<%= current_user.name %>"
      data-x_profile_image_url='<%= avatar_url %>'
      style="padding-left:0px;padding-right:0px;"></div>
    <script async='true' src='<%= "#{site_url}/embed.js" %>'></script>
    <% else %>
    <div class="well">
      <div class="add-comment">
        <h5 class="section-heading"><%= t("login_title", scope: 'decidim.polis.polis.show') %></h5>
        <p><%= t("login_instructions", scope: 'decidim.polis.polis.show') %>
          <% if current_organization.sign_up_enabled? %>
          <%= link_to t("layouts.decidim.header.sign_up"), decidim.new_user_registration_path, class: "sign-up-link" %>
          <%= t("or", scope: 'decidim.polis.polis.show') %>
          <% end %>
          <%= link_to t("layouts.decidim.header.sign_in"), decidim.new_user_session_path, class: "sign-in-link" %>

        </p>
      </div>
    </div>

    <div class="polis"
         data-conversation_id='<%= site_id %>'
         data-page_id="<%= page_id %>"
         data-site_id="<%= site_id %>"
         data-ucw="false"
         data-ucv="false"
         data-ucst="false"
         data-show_vis="true"
         data-ucsv="true"
         data-ucsf="1"
         data-ui_lang="<%= locale %>"
         style="padding-left:0px;padding-right:0px;"></div>
    <script async='true' src='<%= "#{site_url}/embed.js" %>'></script>
    <% end %>
  </section>
  <!-- end -->
<% end %>

<!-- pol.is js script -->
<script type="text/javascript">
    function getConversationId() {
        window.addEventListener('message', function (event) {
            var data = event.data || {};
            if (!event.origin.match(/<%= site_url_for_regex %>$/)) {
                return;
            }
            var conversationId = data['conversation'].conversation_id;
            completeUrl(conversationId)
        })
    }

    function completeUrl(conversation_id) {
        $('.appendModerateLink').append('<li><a class="btn admin-btn" target="blank" href="<%= site_url %>/m/' + conversation_id + '/comments"><%= t(".moderation.comments") %></a></li>')
        $('.appendModerateLink').append('<li><a class="btn admin-btn" target="blank" href="<%= site_url %>/m/' + conversation_id + '/participants"><%= t(".moderation.participants") %></a></li>')
        $('.appendAdminLink').append('<li><a class="btn admin-btn" target="blank" href="<%= site_url %>/m/' + conversation_id + '/stats"><%= t(".moderation.stats") %></a></li>')
        $('.appendAdminLink').append('<li><a class="btn admin-btn" target="blank" href="<%= site_url %>/m/' + conversation_id + '/export"><%= t(".moderation.exports") %></a></li>')
        $('.appendAdminLink').append('<li><a class="btn admin-btn" target="blank" href="<%= site_url %>/m/' + conversation_id + '/reports"><%= t(".moderation.reports") %></a></li>')
    }

    getConversationId()
</script>
<!-- end -->
